<ng-menubar></ng-menubar>
<div ng-controller="CrearUsuarioController">
        <alert ng-repeat="message in feedbackMessages" type="{{message.type}}" close="closeAlert($index)">{{message.text}}</alert>
  <div class="panel panel-default">
    <div class="panel-heading">Crear usuario</div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-11"> 
            <form name="frmCrearUsuario" class="form-horizontal" role="form" novalidate>
              <div class="form-group">
                <label for="nombreUsuario">Nombre de usuario:</label>
                <input required ng-minlength="2" ng-model="user.name" type="text" class="form-control" name="nombreUsuario" placeholder="Ingrese el nombre de usuario" />
                <p ng-show="frmCrearUsuario.nombreUsuario.$invalid" class="help-block">El nombre de usuario es obligatorio y debe contener más de dos caracteres.</p>
              </div>
              <div class="form-group">
                <label class="control-label" for="roles">Rol:</label>
                <select required ng-model="user.role" class="form-control" name="roles" name="roles" ng-options="rol for rol in roles"></select>
                <p ng-show="frmCrearUsuario.roles.$invalid" class="help-block">Debe seleccionar un rol.</p>
            </div>
            <div class="form-group">
              <label for="clave">Clave:</label>
              <input required ng-minlength="2" ng-model="user.password" type="text" class="form-control" name="clave" placeholder="Ingrese la clave secreta del usuario" />
              <p ng-show="frmCrearUsuario.clave.$invalid" class="help-block">La clave es obligatoria y debe contener más de dos caracteres.</p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-9 col-lg-12">
          <button type="button" class="btn btn btn-danger">Cancelar</button>
          <button type="button" class="btn btn-success" ng-click="crearUsuario(frmCrearUsuario.$valid)" ng-disabled="frmCrearUsuario.$invalid">Crear</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>