<ng-menubar></ng-menubar>
<div class="page-header">
  <h2>Oportunidades</h2>
</div>
<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Línea</th>
			<th>Responsable</th>
			<th>Nombre</th>
			<th>Cuenta</th>
			<th>Producto</th>
			<th>Cantidad</th>
			<th>Valor</th>
			<th>Estado</th>
			<th>OI date</th>
			<th>OI %</th>
			<th>Sale date</th>
			<th>Sale %</th>			
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="opportunity in opportunities">
			<td>{{$index + 1}}</td>
			<td>{{opportunity.businessLine}}</td>
			<td>{{opportunity.responsibleName}}</td>
			<td>{{opportunity.name}}</td>
			<td>{{opportunity.accountName}}</td>
			<td>{{opportunity.productName}}</td>
			<td>{{opportunity.quantity}}</td>
			<td>{{opportunity.value}}</td>
			<td>{{opportunity.state}}</td>
			<td>{{opportunity.order.date}}</td>
			<td>{{opportunity.order.probability}}</td>			
			<td>{{opportunity.sale.date}}</td>
			<td>{{opportunity.sale.probability}}</td>						
			<td><a ng-confirm-message="¿Está seguro que dese eliminar la oportunidad {{opportunity.name}}?" ng-confirm-click="eliminarOportunidad($parent.selected=opportunity._id.$oid, $parent.selected=$index)" ng-confirm-condition="true" >Eliminar</a></td>
		</tr>
	</tbody>
</table>